<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="StaticContent">
          <action type="Rewrite" url="static{REQUEST_URI}" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="wsgi.py" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript; charset=utf-8" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
    <httpLogging>
      <centralLogFileDirectory>d:\home\logfiles</centralLogFileDirectory>
    </httpLogging>
  </system.webServer>
</configuration>
